<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sang.blog.biz.mapper.ArticleMapper">


    <update id="deleteByState">
        update tb_article set state = '1' where id = #{articleId}
    </update>

    <update id="topArticle">
        update tb_article set state = '3' where id = #{articleId}
    </update>

    <select id="listArticleLabelsById" resultType="java.lang.String">
        select labels from tb_article where id =#{id}
    </select>
</mapper>
