<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sang.blog.biz.mapper.RefreshTokenMapper">
    <update id="deleteMobileTokenKey">
        update tb_refresh_token set mobile_token_key='' where mobile_token_key=#{getTokenKey}
    </update>

    <update id="deletePcTokenKey">
        update tb_refresh_token set token_key='' where token_key=#{getTokenKey}
    </update>

    <delete id="deleteByTokenKey">
        delete from tb_refresh_token where token_key=#{tokenKey}
    </delete>
    <select id="selectOneByUserId" resultType="com.sang.blog.biz.entity.RefreshToken">
        select *from tb_refresh_token where user_id=#{id}
    </select>

    <select id="selectOneByMobileTokenKey" resultType="com.sang.blog.biz.entity.RefreshToken">
        select * from tb_refresh_token where mobile_token_key=#{mobileTokenKey}
    </select>


</mapper>
